.div{
    background-color: brown;
    color: red;
    text-align: center;
    

}
.a1 {
  margin-left: 500px;
     
     
}
.a2{
    margin-left: 30px;
}
.a3{
    margin-left: 30px;
}
 
h2{
text-align: center;
 color: blue;
 font-size: 20px;


}
strong{
    color: blue;
    
}
.renk1{
    text-align: center;
   
}
.renk2{
    color: chocolate;
    text-align: center;
}
 
  img{
    width: 200px;
    text-align: center;
  }
  ul{
    text-align: center;
  }


